.banner
    .image
    .banner__container
        .banner__row
            .banner__info
                .banner__title BONIFICACIÓN #[br] #[span DE BIENVENIDA]
                a(href='https://www.favbet.com/es/short-register/').banner__button EMPEZAR A JUGAR
                a(href='https://www.favbet.com/promos/promo/new_welcome/').banner__link Términos y Condiciones
            .banner__dep
                .banner__dep-left
                    .in $ 3000
                    .in $ 3000
                    p $ 3000 #[span al depositar]
                    .in $ 3000
                    .in $ 3000
                    .in $ 3000
                    .in.in-none $ 3000
                    .in.in-mob $ 3000
                .banner__dep-right
                    .in $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
                    .in $ 60
                    .in $ 60
                    .in $ 60
                    p $ 60 #[span sin riesgo]
                    .in $ 60
                    .in.in-last $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
